
body {
    background-color: lightgray;
}

.card {
    margin: 0.5rem;
}

.price-cart {
    font-weight: bold;
}

.see-more{
    cursor: pointer;
    padding: 0.5rem 0.5rem;
}

.title-price {
    font-size: 1.25rem;
    font-weight: bold;
}

#quantity-buy{
    width: unset;
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appareance: caret;
}
