{% include "base.html.twig" %}

<div class="container-fluid" id="product-list">
        {% for product in products %}
        <div class="card" style="width: 18rem;">
                <a href="/product/{{ product.id }}" class="card-body">
                        <div class="card-title title-price">
                                <div>{{ product.name }}</div>
                                <div>{{ product.price }} €</div>
                        </div>
                        <div class="card-text">{{ product.description }}</div>
                </a>
                <a class="card-text buy-item">Ajouter au panier <i class="fas fa-cart-plus"></i></a>
        </div>
        {% endfor %}
</div>
